<div id="<%= dom_id subcategory %>">
  <p>
    <strong>Category:</strong>
    <%= subcategory.category_id %>
  </p>

  <p>
    <strong>Sub category name:</strong>
    <%= subcategory.sub_category_name %>
  </p>

  <p>
    <strong>Description string:</strong>
    <%= subcategory.description_string %>
  </p>

</div>
