<div class="container lg-5">
	<%= render "shared/navbar" %>
	<h1>Home Page</h1>
	<button type="button "class="btn btn-secondary">User</button>
	<button type="button "class="btn btn-secondary">Role</button>
	<button type="button "class="btn btn-secondary">Category</button>
	<button type="button "class="btn btn-secondary">Sub Category</button>
	<%= link_to "Products", products_path, class: "btn btn-secondary" %>
	<button type="button "class="btn btn-secondary">Supplier</button>
</div>
